.popupbar-title {
  padding-top: 40px;
  margin-top: -7%;
}

.popupbar-title h1 {
  font-family: FaktPro-SemiBold, sans-serif;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 20px;
  color: #000;
}

.form-item-provider-options-interest-period label {
  font-family: FaktPro-SemiBold,sans-serif;
  margin-bottom: 5px;
}

.form-item-provider-options-interest-period .select-wrapper:focus-within {
	border: 1px solid #000;
}

.action-button.reserve-button:focus {
  background-color: #808285;
  color: #fff;
}

form[id^="ding-reservation-reserve-form"] input[type="submit"] {
	width: auto;
	padding-right: 80px;
}
